sphinx
Cloud-sptheme
sphinxcontrib-tikz
sphinxcontrib-bibtex
sphinxcontrib-spelling
sphinxcontrib-programoutput

numpy
matplotlib

pytest
pytest-cov
coverage

PyInstaller

bump2version
twine
black
flake8

